<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="0.0.2" defaultlocale="en" id="https://addons.opera.com/extensions/details/prevent-duplicate-tabs/" href="https://addons.opera.com/extensions/details/prevent-duplicate-tabs/">
    <name>Prevent duplicate tabs</name>
    <name xml:lang="pt-br">Prevenir duplicar abas</name>
    <name xml:lang="pt">Prevenir duplicar abas</name>
    <icon src="icons/64px.png"/>
    <icon src="icons/18px.png"/>
    <access origin="*"/>
    <author email="brcontainer@yahoo.com.br">BrContainer</author>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">Copyright 2018 Brcontainer&#13;
&#13;
Licensed under the Apache License, Version 2.0 (the "License");&#13;
you may not use this file except in compliance with the License.&#13;
You may obtain a copy of the License at&#13;
&#13;
http://www.apache.org/licenses/LICENSE-2.0&#13;
&#13;
Unless required by applicable law or agreed to in writing, software&#13;
distributed under the License is distributed on an "AS IS" BASIS,&#13;
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.&#13;
See the License for the specific language governing permissions and&#13;
limitations under the License.</license>
    <description xml:lang="pt">Fecha (auto) nova aba que já possuir outra com mesmo endereço.</description>
    <description xml:lang="en">Close (self) new tab that already has one with the same address.</description>
    <description xml:lang="pt-BR">Fecha (auto) nova aba que já possuir outra com mesmo endereço.</description>
</widget>
