<!DOCTYPE html>
<html id="config">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>Prevent Duplicate Tabs</title>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link rel="stylesheet" type="text/css" href="../css/toggle.css">
    <link rel="stylesheet" type="text/css" href="../css/icons.css">
    <link rel="preload" type="text/css" href="../css/popup-dark.css">
    <link rel="preload" type="text/css" href="../css/toggle-dark.css">
    <link rel="preload" type="text/css" href="../css/icons-dark.css">
    <link rel="icon" type="image/png" href="../images/icon.png">
    <script type="text/javascript" src="../js/boot.js"></script>
    <script type="text/javascript" src="../js/color-scheme.js"></script>
</head>
<body>
    <h1>
        <div class="global-config">
            <span data-i18n="turn_off"></span>
            <div class="toggle red">
                <input type="checkbox" id="turnoff" disabled>
                <label for="turnoff"></label>
            </div>
        </div>

        <i class="ico setup"></i>
        <span data-i18n="title"></span>
    </h1>

    <main>
        <div id="actions">
            <h2 data-i18n="actions_title"></h2>

            <div class="group">
                <div class="row" data-ignored="hosts[host]">
                    <div class="col">
                        <button data-type="host">
                            <i class="ico knowed"></i>
                            <i class="ico ignored"></i>
                        </button>
                    </div>
                    <div class="col">
                        <h3>
                            <span class="knowed" data-i18n="ignore_host"></span>
                            <span class="ignored" data-i18n="reconsider_host"></span>
                        </h3>
                        <p>
                            <span class="knowed" data-i18n="ignore_host_description"></span>
                            <span class="ignored" data-i18n="reconsider_host_description"></span>
                        </p>
                    </div>
                </div>

                <div class="row" data-ignored="urls[url]">
                    <div class="col">
                        <button data-type="url">
                            <i class="ico knowed"></i>
                            <i class="ico ignored"></i>
                        </button>
                    </div>
                    <div class="col">
                        <h3>
                            <span class="knowed" data-i18n="ignore_url"></span>
                            <span class="ignored" data-i18n="reconsider_url"></span>
                        </h3>
                        <p>
                            <span class="knowed" data-i18n="ignore_url_description"></span>
                            <span class="ignored" data-i18n="reconsider_url_description"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h2 data-i18n="sort_order_title"></h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="close_olders_title"></h3>
                    <p data-i18n="close_olders_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="active" disabled>
                        <label for="active"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="keep_active_title"></h3>
                    <p data-i18n="keep_active_description"></p>
                </div>
            </div>
        </div>

        <h2 data-i18n="urls_title"></h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="http" disabled>
                        <label for="http"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="only_http_title"></h3>
                    <p data-i18n="only_http_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="query" disabled>
                        <label for="query"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="querystring_title"></h3>
                    <p data-i18n="querystring_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="hash" disabled>
                        <label for="hash"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="hash_title"></h3>
                    <p data-i18n="hash_description"></p>
                </div>
            </div>
        </div>

        <h2 data-i18n="others_title"></h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="incognito" disabled>
                        <label for="incognito"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="incognito_title"></h3>
                    <p data-i18n="incognito_description"></p>
                </div>
            </div>
            <div class="row support-containers">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="containers" disabled>
                        <label for="containers"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="containers_title"></h3>
                    <p data-i18n="containers_description"></p>
                </div>
            </div>
        </div>

        <h2 data-i18n="events_title"></h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="start" disabled>
                        <label for="start"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="start_event_title"></h3>
                    <p data-i18n="start_event_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="update" disabled>
                        <label for="update"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="update_event_title"></h3>
                    <p data-i18n="update_event_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                    <input type="checkbox" id="create" disabled>
                    <label for="create"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="create_event_title"></h3>
                    <p data-i18n="create_event_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="replace" disabled>
                        <label for="replace"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="replace_event_title"></h3>
                    <p data-i18n="replace_event_description"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="datachange" disabled>
                        <label for="datachange"></label>
                    </div>
                </div>
                <div class="col">
                    <h3 data-i18n="datachange_event_title"></h3>
                    <p data-i18n="datachange_event_description"></p>
                </div>
            </div>
        </div>

        <h2 data-i18n="color_scheme_title"></h2>

        <div class="group">
            <div class="grid radio themes">
                <label>
                    <input type="radio" name="color-scheme" value="dark">
                    <div>
                        <i class="ico color-scheme-dark"></i>
                        <h4 data-i18n="color_scheme_dark"></h4>
                    </div>
                </label>
                <label>
                    <input type="radio" name="color-scheme" value="default">
                    <div>
                        <i class="ico color-scheme-device"></i>
                        <h4 data-i18n="color_scheme_device"></h4>
                    </div>
                </label>
                <label>
                    <input type="radio" name="color-scheme" value="light">
                    <div>
                        <i class="ico color-scheme-light"></i>
                        <h4 data-i18n="color_scheme_light"></h4>
                    </div>
                </label>
            </div>
        </div>

        <footer>
            <span id="version" data-i18n="version"></span>
            <a href="https://github.com/brcontainer/prevent-duplicate-tabs/issues/new">
                <i class="ico bug"></i>
                <span data-i18n="report"></span>
            </a>
        </footer>
    </main>

    <script type="text/javascript" src="../js/popup.js"></script>
    <script type="text/javascript" src="../js/toggle.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
</body>
</html>
