<!DOCTYPE html>
<html id="config">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>Prevent Duplicate Tabs</title>
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link rel="stylesheet" type="text/css" href="../css/toggle.css">
</head>
<body>
    <div class="main">
        <h1>
            <i class="ico setup"></i> settings
        </h1>

        <div id="actions">

            <h2>Actions</h2>

            <div class="group">
                <div class="row" data-ignored="hosts[host]">
                    <div class="col">
                        <button data-type="host">
                            <i class="ico knowed"></i>
                            <i class="ico ignored"></i>
                        </button>
                    </div>
                    <div class="col">
                        <h3>
                            <span class="knowed">Ignore</span>
                            <span class="ignored">Reconsider</span>
                            this host
                        </h3>
                        <p>
                            <span class="knowed">
                                Preventing duplicate tabs whose address contains the <code data-value="host"></code> host
                            </span>
                            <span class="ignored">
                                Repeated tabs with <code data-value="host"></code> host will NOT be considered duplicates
                            </span>
                        </p>
                    </div>
                </div>

                <div class="row" data-ignored="urls[url]">
                    <div class="col">
                        <button data-type="url">
                            <i class="ico knowed"></i>
                            <i class="ico ignored"></i>
                        </button>
                    </div>
                    <div class="col">
                        <h3>
                            <span class="knowed">Ignore</span>
                            <span class="ignored">Reconsider</span>
                            this URL
                        </h3>
                        <p>
                            <span class="knowed">
                                Preventing duplicate tabs with the <code data-value="url"></code> address
                            </span>
                            <span class="ignored">
                                Repeated tabs with <code data-value="url"></code> address will NOT be considered duplicates
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <h2>Sort order</h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="old" disabled>
                        <label for="old"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Close olders</h3>
                    <p>Closes the old tabs (close most recent tab)</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="active" disabled>
                        <label for="active"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Prefer tab activated</h3>
                    <p>Keeping tab that is activated (visible)</p>
                </div>
            </div>
        </div>

        <h2>Events</h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="start" disabled>
                        <label for="start"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Start</h3>
                    <p>Close repeated tabs when your browser is launched</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="update" disabled>
                        <label for="update"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Update</h3>
                    <p>Close repeated tabs when a tab is updated</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                    <input type="checkbox" id="create" disabled>
                    <label for="create"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Create</h3>
                    <p>Close repeated tabs when a new tab is created</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="remove" disabled>
                        <label for="remove"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Remove</h3>
                    <p>Close repeated tabs when a tab is closed</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="replace" disabled>
                        <label for="replace"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Replace</h3>
                    <p>Close repeated tabs when a tab is replaced with another tab due to prerendering or instant</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="datachange" disabled>
                        <label for="datachange"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Datachange</h3>
                    <p>Close repeated tabs when you change "sort order", "events", "urls" and "others" configurations from extension</p>
                </div>
            </div>
        </div>

        <h2>URLs</h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="http" disabled>
                        <label for="http"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Only HTTP</h3>
                    <p>Close only tabs with HTTP(s) urls</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="query" disabled>
                        <label for="query"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Querystring</h3>
                    <p>If disabled (off) it's ignore querystring in URLs, then this <code>http://foo/bar?baz</code> will be equivalent to this <code>http://foo/bar</code></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="hash" disabled>
                        <label for="hash"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>Hash</h3>
                    <p>If disabled (off) it's ignore hash in URLs, then this <code>http://foo/bar#baz</code> will be equivalent to this <code>http://foo/bar</code></p>
                </div>
            </div>
        </div>

        <h2>Others</h2>

        <div class="group">
            <div class="row">
                <div class="col">
                    <div class="toggle">
                        <input type="checkbox" id="incognito" disabled>
                        <label for="incognito"></label>
                    </div>
                </div>
                <div class="col">
                    <h3>incognito</h3>
                    <p>Check repeated anonymous tabs (requires you to manually enable in your browser)</p>
                </div>
            </div>
        </div>

        <footer>
            <span id="version">Version 0.0.0</span>
            <a href="https://github.com/brcontainer/prevent-duplicate-tabs/issues/new">
                <i class="ico bug"></i> report a issue
            </a>
        </footer>
    </div>

    <script type="text/javascript" src="../js/toggle.js"></script>
    <script type="text/javascript" src="../js/popup.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
</body>
</html>
